<html>
    <head>
        <title>Interesting Information</title>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <style>
            h4{
                font-family: Verdana;
                font-size: 40px;
                font-weight: bold;
                color:Red;
                margin-left:180px;
                margin-top: 20px;
                white-space: nowrap;
            }
            .record{
                margin-left:220px;
                white-space: nowrap;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row" style="position:absolute; top:90px; left:40px; width:700px; height:800px;">
                <div class="col-sm-11">
            <canvas id="myChart"></canvas>
        
        
        <script>

            // When page loads go to this route in flask app
            var get1 = $.get('/stats');
            get1.done(function(data){
                var mychart = document.getElementById('myChart').getContext('2d');
            var ls=data.name
            var ls1=data.num
            var barchart = new Chart(mychart,{
                type:'bar',  //bar , horizontalbar, pie, line
                data:{
                    labels:ls,
                    datasets:[{
                        label:'Pay-per-view',
                        data:ls1,
                        backgroundColor:[
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(0, 255, 0, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)'
                        ]
                    }]
                },
                  options: {

                    title:{
                        display:true,
                        text:'Fighters With Highest Number of Most-Watched Pay-per-views'
                    },
                    
                    scales: {
                        yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    });
            
        </script>
    </div>
    <div class="col-sm-1" text-align="centre">
        <img src="/static/MCGREGOR_CONOR.png" alt="User Image" hspace="150">
        
        <h4>{{ fighter_name }}</h4>
        <div class="record">{{ fighter_record }}</div>
    </div>
    </div>
    </div>
    </body>
</html>